html
{
    overflow-y: scroll;
}


body
{
    color: #fff;
    font-family: "Ubuntu Mono", Ubuntu, arial, sans-serif;
    font-size: 16px;
    
}

textarea,
input
{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;

    color: white;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

button
{
    width: 100%;
    margin: 0 0 10px;
    padding: 5px 10px;

    transition: all .3s ease-in-out;

    color: #ebebeb;
    border: 1 solid #ebebeb;
    box-sizing: border-box;
    border-radius: 5px;
}

button > * {
  pointer-events: none;
}

button:hover,
button:focus,
button:active
{
    cursor: pointer;

    opacity: .5;
    outline: 0 !important;

}

.tagbutton
{
    border: 1px solid #eee;
}

.label
{
    display: flex;
    /* border: 1px solid #999; */
    float: none;

    min-width: 100%;
    padding: 3px;
    padding: 5px 10px;

    text-transform: uppercase;
}

ul
{
    padding: 0;
}

li.item
{
    margin-bottom: 10px;
    padding: 10px;

    list-style: none;
    border-top: 1px dotted #eee;
}

.id
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    transform: translateX(-100%);

    color: #999;
}

.line-break
{
    margin-bottom: .5rem;

    white-space: pre-wrap;      /* current browsers */
}

.taglist
{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;

    margin: 0 -5px;
    /* top: 4rem; */
}

.tag
{
    margin: 0 5px;
}

.action-icon
{
    width: 36px;
    height: 36px;

    color: white;
}

.action-icon__close
{
    transform: rotate(270deg);
}

.action-icon__open
{
    transform: rotate(0deg);
}

.app-title
{
    margin-top: auto;
    margin-bottom: auto;
}

.sidebar.sticky-top
{
    top: 0;
}

.item-title {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: -2px;
}

.sticky-2 {
    top: 2rem;
}

.sticky-4 {
    top: 4rem;
}

.sticky-6 {
    top: 6rem;
}
